body{
    color: black;
    background-color: rgb(228, 228, 184);
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 16px;
}

a{
    color: black;
    text-decoration: none;
}